<div class="row">
    <div class="card override-card-long">
        <div class="override-card-padding">
            <div class="assistant-main-show">
                {{ welcomeMessage }}
            </div>
            <form ng-submit="sendMessage()" style="text-align: center;">
                <div class="input-field col s12 assistant-view-img-mic-wrapper">
                    <input type="text" id="assistant-input-field" name="" id="" ng-model="queryField" placeholder="Write anything here ..." class="assistant-main-input-field" size="40">
                    <img src="../assets/img/mic-def.png" alt="mic-default" class="mic-default-style" ng-click="handleMicInAssistantView()" />
                </div>
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>