.view-body {
    width: 600px;
    height: 500px;
}

.tca-header {
    position: absolute;
    left: 5%;
    font-size: 18px;
}

.tca-footer {
    padding-top: 0;
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0%;
}

.tca-footer-head {
    font-size: x-small;
}

.row-footer-overider {
    margin-bottom: 0px;
}

.container-footer-overider {
    width: -webkit-fill-available;
}

.override-card-long {
    padding: 29% 25%;
}

.override-card-padding {
    margin: -15%;
}

.assistant-main-input-field {
    text-align: center;
}

.assistant-main-show {
    text-align: center;
    font-weight: 600;
}

.mic-default-style {
    height: 30px;
}

.assistant-view-img-mic-wrapper {
    display: inline-flex;
}